.error-text {
    position: absolute;
    top: calc((50% - 32px) / 2);
    left: 0%;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    color: var(--fg);
}
