.new-session {
    margin: auto;
    width: 50%;
    max-width: 800px;
}

.icon {
    width: 256px;
    height: 256px;
    margin-left: calc((100% - 256px) / 2);
    margin-right: calc((100% - 256px) / 2);
}

.spacer {
    width: 100%;
    height: 64px;
}

.new-session-label {
    color: var(--fg);
}

.new-session-input {
    width: calc(100% - 24px);
    height: 16px;
    font-size: 14px;
    padding: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--fg);
    background-color: var(--bg);
    color: var(--fg);
}
