label {
    user-select: none;
}

.cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.cover-form {
    margin: auto;
    margin-top: 256px;
    width: 50%;
    height: 128px;
    max-width: 800px;
}

.cover-label {
    color: var(--fg);
}

.cover-input {
    width: calc(100% - 24px);
    height: 16px;
    font-size: 14px;
    padding: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--fg);
    background-color: var(--bg);
    color: var(--fg);
}

.cover-error-message {
    color: var(--fg);
}

.content {
    position: relative;
    width: calc(50% + 400px);
    height: 100%;
    max-width: calc(800px + 400px);
    margin: auto;
}

.messages {
    position: absolute;
    top: 0%;
    left: 200px;
    width: calc(100% - 400px);
    height: 80%;
    margin: auto;
    overflow-y: auto;
}

.message {
    display: block;
    width: calc(100% - 8px);
    height: auto;
    overflow: hidden;
    border-style: solid;
    border-width: 4px;
    border-color: var(--bg);
}

.message-name {
    width: 100%;
    height: 24px;
    font-size: 14px;
    padding: 16px;
    color: var(--fg);
    pointer-events: none;
    user-select: none;
    font-weight: 700;
}

.message-text {
    color: var(--fg);
    font-size: 16px;
    padding: 16px;
    pointer-events: none;
}

.users {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 50%;
}

.user {
    position: relative;
    width: 100%;
    height: 32px;
}

.user-name {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 32px);
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--fg);
    user-select: none;
}

.user-online {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: green;
    user-select: none;
}

.user-offline {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: red;
    user-select: none;
}

.input {
    position: absolute;
    left: 200px;
    bottom: 0%;
    width: calc(100% - 400px);
    height: 20%;
}

.send-target {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 24px;
    font-size: 18px;
    color: var(--fg);
    user-select: none;
    pointer-events: none;
}

.send-box {
    position: absolute;
    top: 24px;
    left: 0%;
    width: calc(100% - 24px);
    height: calc(100% - 48px);
    resize: none;
    padding: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--fg);
    background-color: var(--bg);
    background-color: var(--bg);
    color: var(--fg);
}
