/* Includes the Open Sans font, licensed under the SIL Open Font License */
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("/static/open-sans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url("/static/open-sans-bold.ttf") format("truetype");
}

:root {
    --fg: #ffffff;
    --bg: #000000;
}

* {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

html body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}

.theme-button {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 16px;
    height: 16px;
    background-color: var(--fg);
}
